.box {
    border: solid 1px #000;
    border-radius: 20px;
    padding: 10px;
}
.line {
    margin-top: 5px;
    margin-bottom: 5px;
}
body,table, center, strong {
    font-size: 12px;
}
table {
    margin: 0px !important;
}
h1 {
    font-size: 20px;
}